.city-component-main {
  border: 1px solid #000
}

.city-component-aside {
  background-color: #d3d3d3;
  border: 1px solid #000
}

.city-component-aside h1 {
  margin-left: 65px
}

.city-component-card {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 25px;
  height: 125px;
  margin: 10px;
}

.city-component-card h1 {
  margin: 10% 0
}

.city-component-card img {
  border: 1px solid #000;
  display: block;
  height: 100px;
  margin: 10px 0 10px 20px;
  width: 150px
}

.city-component-card a {
  text-decoration: none
}
