<div id="carousel_container">
  <ngb-carousel #carousel>
    <ng-template ngbSlide *ngFor="let img of images">
      <div class="wrapper">
        <img [src]="img.src" alt="">
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container p-5 my-5">

  <div class="row">

 <h1 class = "col-xs-12 text-center">Wayfarer is...</h1>

    <div class="col-sm">
      <h2>“A Journey”</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cupiditate doloribus necessitatibus
        nobis nostrum omnis rem sequi? Consectetur consequatur dolorem harum laborum natus necessitatibus officia
        praesentium reprehenderit saepe voluptas?</p>
    </div>
    <div class="col-sm">
      <h2>“An Adventure”</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cupiditate doloribus necessitatibus
        nobis nostrum omnis rem sequi? Consectetur consequatur dolorem harum laborum natus necessitatibus officia
        praesentium reprehenderit saepe voluptas?</p>
    </div>
    <div class="col-sm">
      <h2>“A Lifestyle”</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cupiditate doloribus necessitatibus
        nobis nostrum omnis rem sequi? Consectetur consequatur dolorem harum laborum natus necessitatibus officia
        praesentium reprehenderit saepe voluptas?</p>
    </div>

  </div>

</div>
