<div class="flex_container">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author">
  </div>
  <div class="form-group">
    <label for="author">Body</label>
    <textarea class="form-control inputlg" id="author"></textarea>
  </div>
    <button type="button" class="btn btn-primary">Submit</button>
</div>
